@import "tailwindcss";

@theme {
/* Escala de tons para a cor #08145C (brand) */
    --color-brand-700: #0f21a2;
    --color-brand-800: #111f83;
    --color-brand-900: #08145C;
    --color-brand-950: #040938;
}

.btn-nav {
    @apply bg-gray-200/40 border border-gray-300 hover:bg-gray-300 text-brand-900 cursor-pointer py-2 px-4 rounded-full flex items-center gap-1 hover:-translate-y-[1px] transition-transform;
}

.btn-nav-active {
    @apply bg-yellow-400 hover:bg-yellow-500 border-yellow-500;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeSlide {
    animation-name: slideIn;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-zoomIn {
    animation-name: zoomIn;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
}

@keyframes underline-expand {
    0% { width: 0; }
    100% { width: 100%; }
}

.animate-underline-expand::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: currentColor;
}

.animate-underline-expand:hover::after {
    animation: underline-expand 0.3s ease forwards;
}

@layer utilities {
    .zoom-on-hover {
        @apply transition-transform duration-200 hover:scale-125;
    }
}

@layer components {
    .btn-carousel {
        @apply cursor-pointer absolute top-1/2 -translate-y-1/2 z-10 bg-zinc-300/80 shadow-md rounded-full w-9 h-9 flex items-center justify-center hover:bg-zinc-100 transition;
    }
}

@layer components {
    .main-texts {
        @apply text-base lg:text-lg xl:text-xl 2xl:text-2xl leading-relaxed max-w-md font-serif italic px-1 lg:px-2
    }
}

@layer components {
    .default-btn {
        @apply cursor-pointer mt-2 block w-full bg-brand-700 text-white text-sm font-medium py-2 rounded-lg hover:bg-brand-800 transition-colors duration-200 text-center
    }
}